.question-container {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: 5px solid black;
    background-color: white;
    padding: 50px;
    height: 500px;
}

.question {
    font-size: 36px;
    margin-bottom: 80px;
}

.question-hover {
    z-index: 1;
}

.swipe-red {
    z-index: 0;
}

.swipe-green {
    z-index: 0;
}